<!DOCTYPE html>
<html>
<head>
    <title>关键词回复 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <ul class="nav nav-tabs">
                    <li><a href="/account/{{account.aid}}/auto/follow">关注时回复</a></li>
                    <li class="active"><a href="/account/{{account.aid}}/auto/message">关键字回复</a></li>
                </ul>
                <div class="new-edit menu">
                    <div class="alert alert-danger" style="margin-top: 10px;">
                        完全匹配选中后，用户发来的消息必须完全符合才会回复<br>
                        完全匹配没选中，如果用户发来的消息包含关键字就会回复<br>
                        如果对同一个关键词添加了完全匹配和不完全匹配，则优先响应完全匹配<br>
                        如果用户的消息包含两条以上的关键词，则优先响应后添加的
                    </div>
                    <div class="add-main">
                        <a href="javascript:;" onclick="javascript:add_reply();">+添加关键词回复</a>
                    </div>
                    <input type="hidden" name="aid" value="{{account.aid}}">
                    {% if auto_list %}
                    {% for auto in auto_list %}
                    <div class="menu-item">
                        {% if auto.re_type == 'text' %}
                        <div class="main-container" data-type="text" data-value="{{auto.re_content}}">
                            <div class="input-container">
                                <input name="word" placeholder="要回复的词" class="form-control input-lg main" value="{{auto.word}}">
                                <span class="result">文本：{{auto.re_content}}</span>
                            </div>
                        {% elif auto.re_type == 'single' %}
                        <div class="main-container" data-type="single" data-value="{{auto.re_img_art_id}}">
                            <div class="input-container">
                                <input name="word" placeholder="要回复的词" class="form-control input-lg main" value="{{auto.word}}">
                                <span class="result">单条图文：<a target="_blank" href="/image_article/{{auto.re_img_art_id}}/preview">预览</a></span>
                            </div>
                        {% elif auto.re_type == 'multi' %}
                        <div class="main-container" data-type="multi" data-value="{{auto.re_img_art_id}}">
                            <div class="input-container">
                                <input name="word" placeholder="要回复的词" class="form-control input-lg main" value="{{auto.word}}">
                                <span class="result">多条图文：<a target="_blank" href="/image_article_group/{{auto.re_img_art_id}}/preview">预览</a></span>
                            </div>
                        {% end %}
                            <div class="op">
                                <span class="action black">完全匹配 </span><input type="checkbox" name="wild"{%if not auto.wild%} checked{%end%}>
                                <span class="action black">回复内容 </span>
                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_text_dialog(this);">文本</a></span>
                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_single_dialog(this);">单条图文</a></span>
                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_multi_dialog(this);">多条图文</a></span>
                                <span class="action remove"><a href="javascript:;" onclick="javascript:remove_word(this);">删除</a></span>
                            </div>
                        </div>
                    </div>
                    {% end %}
                    {% end %}
                </div>
                <div id="word-save-btn" class="btn btn-primary submit-btn">
                    <span>保 存</span>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{static_url('js/global.js')}}"></script>
<script src="{{static_url('js/menu.js')}}"></script>
</body>
</html>