<!DOCTYPE html>
<html>
<head>
    <title>全部菜品 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <input type="hidden" name="aid" value="{{account.aid}}"/>
            <div class="main-inner">
                {% include canyin_top.html %}
                <div class="panel panel-default">
                        <table class="table image-article">
                            <thead>
                            <tr>
                                <th>创建时间</th>
                                <th>用户信息</th>
                                <th>菜品名称</th>
                                <th>点餐数量</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in dish %}
                            <tr>
                                <td class="date">{{d.date}}</td>
                                <td>
                                    {% if fans[d.openid] %}
                                    <img src="{{fans[d.openid].avatar}}" alt="" width="40" height="40"/>
                                        {{fans[d.openid].nickname}}
                                    {% else %}
                                        {{d.openid}}
                                    {% end %}
                                </td>
                                <td>{{ds[d.dish_id].name}}</td>
                                <td>{{d.num}}</td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                    {% include pagination.html %}
                    </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script src="http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{static_url('js/global.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/material.js')}}"></script>
<script>

    function remove_dish(id) {
        ModalManager.show_confirm_modal('确定删除该菜品吗？', function(input) {
            if (input) {
                var aid = $('input[name=aid]').val();
                $.ajax({
                    type: 'DELETE',
                    url: '/account/' + aid + '/canyin/dish?id=' + id,
                    success: function(data) {
                        if (data.r) {
                            ModalManager.show_success_modal('删除成功！');
                            setTimeout(function(){
                                window.location.reload();
                            }, 1500)
                        }
                    }
                })
            }
        })
    }

</script>
</body>
</html>