<!DOCTYPE html>
<html>
<head>
    <title>菜单列表 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <input type="hidden" name="aid" value="{{account.aid}}"/>
            <div class="main-inner">
                {% include canyin_top.html %}
                <ul class="nav nav-pills">
                    <li class="disabled"><a href="/account/{{account.aid}}/canyin/dish/auto">所有菜谱</a></li>
                    <li><a href="/account/{{account.aid}}/canyin/dish/auto/new">+新建菜谱</a></li>
                </ul>
                <div class="panel panel-default">
                        <table class="table image-article">
                            <thead>
                            <tr>
                                <th>创建时间</th>
                                <th>名称</th>
                                <th>人数</th>
                                <th>总价</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for _m in menu %}
                            <tr>
                                <td class="date">{{_m.date}}</td>
                                <td class="">{{_m.name}}</td>
                                <td class="">{{_m.num}}</td>
                                <td class="">{{_m.total}}</td>
                                <td class="op">
                                    <a href="javascript:;" onclick="remove_dish('{{_m.id}}');">删除</a>
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script src="http://cdn.staticfile.org/jquery/2.1.1-beta1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{static_url('js/global.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/material.js')}}"></script>
<script>

    function remove_dish(id) {
        ModalManager.show_confirm_modal('确定删除该菜单吗？', function(input) {
            if (input) {
                var aid = $('input[name=aid]').val();
                $.ajax({
                    type: 'DELETE',
                    url: window.location.href + '?id=' + id,
                    success: function(data) {
                        if (data.r) {
                            ModalManager.show_success_modal('删除成功！');
                            setTimeout(function(){
                                window.location.reload();
                            }, 1500)
                        }
                    }
                })
            }
        })
    }

</script>
</body>
</html>