<!DOCTYPE html>
<html>
<head>
    <title>粉丝 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <input type="hidden" name="aid" value="{{account.aid}}"/>
                <div class="alert alert-warning">
                    受微信接口限制，订阅号不能获取粉丝详细信息，如果您的账号是订阅号，只能显示粉丝id
                </div>
                 <ul class="nav nav-pills">
                    <li{% if not group_id %} class="disabled"{% end %}><a href="/account/{{account.aid}}/fans">所有粉丝</a></li>
                     {% for _g in groups %}
                     {% if int(group_id) == _g.id %}
                    <li class="disabled"><a href="/account/{{account.aid}}/fans?group_id={{_g.id}}">{{_g.name}}</a></li>
                     {% else %}
                     <li><a href="/account/{{account.aid}}/fans?group_id={{_g.id}}">{{_g.name}}</a></li>
                     {% end %}
                     {% end %}
                     <li><a href="javascript:;" id="new-fans-group">+新建分组</a></li>
                </ul>
                <div class="fans">
                    <div class="panel panel-default">
                        <div class="panel-heading">粉丝列表（总数：{{total}}） {% if group_id %}<a class="rm group" href="javascript:;" onclick="remove_group('{{group_id}}');">移除该分组</a>{% end %} </div>
                        <table class="table fans">
                            <thead>
                            <tr>
                                <th>头像</th>
                                <th>昵称</th>
                                <th>性别</th>
                                <th>国家</th>
                                <th>省份</th>
                                <th>城市</th>
                                <th>关注时间</th>
                                <th>消息</th>
                                <th>分组</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fan in fans %}
                            <tr>
                                <td class="avatar"><img src="{{fan.avatar}}" width="50" height="50"></td>
                                <td class="nickname">{{fan.nickname}}</td>
                                <td class="sex">{% if fan.sex %}男{% else %}女{% end %}</td>
                                <td class="country">{{fan.country}}</td>
                                <td class="province">{{fan.province}}</td>
                                <td class="city">{{fan.city}}</td>
                                <td class="time">{{fan.subscribe_time}}</td>
                                <td class="province">
                                    <a href="/account/{{account.aid}}/message/fans/{{fan.id}}">消息</a>
                                </td>
                                <td class="op">
                                    <div class="btn-group  btn-group-sm">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        {% if fan.group_id==0 %}修改分组{% else %}{{fan.group_name}}{% end %} <span class="caret"></span>
                                      </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for g in groups %}
                                            <li><a href="javascript:;" onclick="javascript:change_group('{{fan.id}}', '{{g.id}}');">{{g.name}}</a></li>
                                            {% end %}
                                      </ul>
                                    </div>
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                        {% include pagination.html %}
                    </div>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
{% include _js.html %}
</body>
</html>