<!DOCTYPE html>
<html>
<head>
    <title>{{form.name}}内容 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <ul class="nav nav-pills">
                    <li><a href="/account/{{account.aid}}/form">所有表单</a></li>
                    <li><a href="/account/{{account.aid}}/form/new">+新建表单</a></li>
                </ul>
                <div class="panel panel-default">
                        <table class="table image-article">
                            <thead>
                            <tr>
                                <th>提交时间</th>
                                {% for item in items %}
                                <th>{{item}}</th>
                                {% end %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for content in contents %}
                            <tr>
                                <td class="date">{{content['date']}}</td>
                                {% for item in items %}
                                <td class="date">{{content[item]}}</td>
                                {% end %}
                            </tr>
                            {% end  %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
</body>
</html>