<!DOCTYPE html>
<html>
<head>
    <title>用户印象 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <div class="new-edit">
                    <div class="alert alert-info">必须添加6个印象</div>
                    {% if impacts %}
                    <div class="input-group card-create">
                        印象1: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称" value="{{impacts[0].name}}">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量" value="{{impacts[0].num}}">
                    </div>
                    <div class="input-group card-create">
                        印象2: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称" value="{{impacts[1].name}}">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量" value="{{impacts[1].num}}">
                    </div>
                    <div class="input-group card-create">
                        印象3: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称" value="{{impacts[2].name}}">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量" value="{{impacts[2].num}}">
                    </div>
                    <div class="input-group card-create">
                        印象4: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称" value="{{impacts[3].name}}">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量" value="{{impacts[3].num}}">
                    </div>
                    <div class="input-group card-create">
                        印象5: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称" value="{{impacts[4].name}}">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量" value="{{impacts[4].num}}">
                    </div>
                    <div class="input-group card-create">
                        印象6: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称" value="{{impacts[5].name}}">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量" value="{{impacts[5].num}}">
                    </div>
                    {% else %}
                    <div class="input-group card-create">
                        印象1: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量">
                    </div>
                    <div class="input-group card-create">
                        印象2: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量">
                    </div>
                    <div class="input-group card-create">
                        印象3: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量">
                    </div>
                    <div class="input-group card-create">
                        印象4: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量">
                    </div>
                    <div class="input-group card-create">
                        印象5: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量">
                    </div>
                    <div class="input-group card-create">
                        印象6: <br>
                        <input type="text" name="name" class="form-control impact-input" placeholder="印象名称">
                        <input type="text" name="num" class="form-control impact-input" placeholder="初始数量">
                    </div>
                    {% end %}
                    <div id="impacts-save-btn" class="btn btn-primary submit-btn">
                        <span>创 建</span>
                    </div>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script src="{{static_url('js/jquery-1.10.2.min.js')}}"></script>
<script src="{{static_url('js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/global.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/accounts.js')}}"></script>
</body>
</html>