<!DOCTYPE html>
<html>
<head>
    <title>账号概况 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <div class="new-edit">
                    <div class="input-group input-group-lg account-info">
                        <span class="input-group-addon add-on">接口URL</span>
                        <input type="text" class="form-control" value="http://wsmt.sinaapp.com/api/{{account.aid}}">
                    </div>
                    <div class="input-group input-group-lg account-info">
                        <span class="input-group-addon add-on">Token</span>
                        <input type="text" class="form-control" value="{{account.token}}">
                    </div>

                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
</body>
</html>