<!DOCTYPE html>
<html>
<head>
    <title>新建单条图文消息 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <h1 class="page-header">素材管理</h1>
                {% include material_top.html %}
                <ul class="nav nav-pills">
                    <li><a href="/account/{{account.aid}}/image_article">所有图文</a></li>
                    <li class="disabled"><a href="/account/{{account.aid}}/image_article/new/single">+新建单条图文</a></li>
                    <li><a href="/account/{{account.aid}}/image_article/new/multi">+新建多条图文</a></li>
                </ul>
                <div class="new-edit">
                    <div class="input-group input-group-lg edit-group">
                        <span class="input-group-addon">标题</span>
                        <input type="text" class="form-control" placeholder="标题字数要少于30">
                    </div>

                    <div class="input-group input-group-lg edit-group">
                        <span class="input-group-addon">摘要</span>
                        <textarea type="text" class="form-control summary" placeholder="摘要长度在120个字以内"></textarea>
                    </div>

                    <div class="input-group input-group-lg edit-group">
                        <span class="input-group-addon">链接</span>
                        <input type="text" class="form-control" placeholder="以http://开头">
                    </div>

                    <div class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>选择封面(大小640x360)</span>
                        <input id="fileupload" type="file" name="file">
                    </div>

                    <div id="progress" class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>

                    <div id="files" class="files"></div>

                    <div class="btn btn-primary submit-btn">
                        <span>保 存</span>
                    </div>

                </div>
                <div id="save-success" class="modal fade" tablindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="text-align: center;">
                            <span class="glyphicon glyphicon-ok"
                                  style="color: #17b385;font-size: 40px;margin: 20px;"></span>

                            <div style="margin-bottom: 20px; font-size: 16px; color:#777">保存成功</div>
                        </div>
                    </div>
                </div>
                <div id="save-failure" class="modal fade" tablindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="text-align: center;">
                            <span class="glyphicon glyphicon-remove"
                                  style="color: #eb6a64;font-size: 40px;margin: 20px;"></span>

                            <div style="margin-bottom: 20px; font-size: 16px; color:#777" class="error-message">保存失败
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script type="text/javascript" src="{{static_url('js/jquery-1.10.2.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/material.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.ui.widget.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.iframe-transport.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.fileupload.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/load-image.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.fileupload-process.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.fileupload-image.js')}}"></script>
<script>
/*jslint unparam: true, regexp: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = '/upload',
        uploadButton = $('<button/>')
            .addClass('btn btn-success')
            .prop('disabled', true)
            .text('处理中...')
            .on('click', function () {
                var $this = $(this),
                    data = $this.data();
                $this
                    .off('click')
                    .text('取消上传')
                    .on('click', function () {
                        $this.remove();
                        data.abort();
                    });
                data.submit().always(function () {
                    $this.remove();
                });
            });
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        autoUpload: false,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 5000000, // 5 MB
        // Enable image resizing, except for Android and Opera,
        // which actually support image resizing, but fail to
        // send Blob objects via XHR requests:
        disableImageResize: /Android(?!.*Chrome)|Opera/
            .test(window.navigator.userAgent),
        previewMaxWidth: 200,
        previewMaxHeight: 120,
        previewCrop: true
    }).on('fileuploadadd', function (e, data) {
        data.context = $('<div/>').appendTo('#files');
        $.each(data.files, function (index, file) {
            var node = $('<p/>')
                    .append($('<span/>').text(file.name));
            if (!index) {
                node
                    .append('<br>')
                    .append(uploadButton.clone(true).data(data));
            }
            node.appendTo(data.context);
        });
    }).on('fileuploadprocessalways', function (e, data) {
        var index = data.index,
            file = data.files[index],
            node = $(data.context.children()[index]);
        if (file.preview) {
            node
                .prepend('<br>')
                .prepend(file.preview);
        }
        if (file.error) {
            node
                .append('<br>')
                .append($('<span class="text-danger"/>').text(file.error));
        }
        if (index + 1 === data.files.length) {
            data.context.find('button')
                .text('上传')
                .prop('disabled', !!data.files.error);
        }
    }).on('fileuploadprogressall', function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .progress-bar').css(
            'width',
            progress + '%'
        );
    }).on('fileuploaddone', function (e, data) {
        $.each(data.result.files, function (index, file) {
            if (file.url) {
                $('#progress').removeClass('progress-striped');
                $('#progress').removeClass('active');
                var link = $('<a>')
                    .attr('target', '_blank')
                    .prop('href', file.url);
                $(data.context.children()[index])
                    .wrap(link);
            } else if (file.error) {
                var error = $('<span class="text-danger"/>').text(file.error);
                $(data.context.children()[index])
                    .append('<br>')
                    .append(error);
            }
        });
    }).on('fileuploadfail', function (e, data) {
        $.each(data.files, function (index, file) {
            var error = $('<span class="text-danger"/>').text('上传失败...');
            $(data.context.children()[index])
                .append('<br>')
                .append(error);
        });
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
</body>
</html>