<!DOCTYPE html>
<html>
<head>
    <title>新建单条图文消息 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                {% include material_top.html %}
                <ul class="nav nav-pills">
                    <li><a href="/account/{{account.aid}}/image_article/single">单条图文</a></li>
                    <li><a href="/account/{{account.aid}}/image_article/multi">多条图文</a></li>
                    <li class="disabled"><a href="/account/{{account.aid}}/image_article/new/single">+新建单条图文</a></li>
                    <li><a href="/account/{{account.aid}}/image_article/new/multi">+新建多条图文</a></li>
                </ul>
                <div class="new-edit">
                    <input name="aid" type="hidden" value="{{account.aid}}">

                    <div class="input-group input-group-lg edit-group">
                        <span class="input-group-addon">标题</span>
                        <input name="title" type="text" class="form-control" placeholder="标题字数要少于30">
                    </div>

                    <div class="input-group input-group-lg edit-group">
                        <span class="input-group-addon">摘要</span>
                        <textarea name="summary" type="text" class="form-control summary"
                                  placeholder="摘要长度在120个字以内"></textarea>
                    </div>

                    <div class="input-group input-group-lg edit-group">
                        <span class="input-group-addon">链接</span>
                        <input name="link" type="text" class="form-control" placeholder="以http://开头">
                    </div>

                    <div class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>选择封面 <span class="tip">(建议图片尺寸640x360，大小控制在500Kb以内)</span></span>
                        <input id="fileupload" type="file" name="file">
                    </div>

                    <div id="progress" class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>

                    <div id="files" class="files"></div>

                    <div id="single-save-btn" class="btn btn-primary submit-btn">
                        <span>保 存</span>
                    </div>

                </div>
                <div id="save-success" class="modal fade" tablindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="text-align: center;">
                            <span class="glyphicon glyphicon-ok"
                                  style="color: #17b385;font-size: 40px;margin: 20px;"></span>

                            <div style="margin-bottom: 20px; font-size: 16px; color:#777">保存成功</div>
                        </div>
                    </div>
                </div>
                <div id="save-failure" class="modal fade" tablindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="text-align: center;">
                            <span class="glyphicon glyphicon-remove"
                                  style="color: #eb6a64;font-size: 40px;margin: 20px;"></span>

                            <div style="margin-bottom: 20px; font-size: 16px; color:#777" class="error-message">保存失败
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script type="text/javascript" src="{{static_url('js/jquery-1.10.2.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/material.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.ui.widget.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.iframe-transport.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.fileupload.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/load-image.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.fileupload-process.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.fileupload-image.js')}}"></script>
<script>
    $(function () {
        var url = '/upload';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('.files').append('<a href="' + file.url + '" target="_blank"><img src="'
                            + file.thumbnailUrl + '"><p>' + file.name + '</p></a>');
                    $('#progress').removeClass('progress-striped active');
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>
</body>
</html>