<!DOCTYPE html>
<html>
<head>
    <title>自定义菜单 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <div class="new-edit menu">
                    <div class="alert alert-success">
                        如果添加地图导航，可以到<a href="/geo" target="_blank">这个链接</a>将地址转换为地图链接后，作为自定义菜单的链接回复<br>
                    </div>
                    <div class="menu-edit">
                        <div class="add-main">
                            <a href="javascript:;" onclick="javascript:add_main_menu();">+添加一级菜单</a>
                        </div>
                        <input type="hidden" name="aid" value="{{account.aid}}">
                        {% if not menu %}
                        <div class="edit-menu">
                            <div class="menu-item">
                                <div class="main-container" data-type="" data-value="">
                                    <div class="input-container">
                                        <input type="text" name="main" class="form-control input-lg main"
                                               placeholder="一级菜单名称">
                                        <span class="result"></span>
                                    </div>
                                    <div class="op">
                                        <span class="action black">回复内容 </span>
                                        <span class="action"><a href="javascript:;" onclick="javascript:show_input_text_dialog(this);">文本</a></span>
                                        <span class="action"><a href="javascript:;" onclick="javascript:show_input_single_dialog(this);">单条图文</a></span>
                                        <span class="action"><a href="javascript:;" onclick="javascript:show_input_multi_dialog(this);">多条图文</a></span>
                                        <span class="action"><a href="javascript:;" onclick="javascript:show_input_link_dialog(this);">链接</a></span>
                                        <span class="action"><a href="javascript:;" onclick="javascript:add_member_card(this);">会员卡</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="add-sub-click">
                                <a href="javascript:;" onclick="javascript:add_sub_menu(this);">+添加二级菜单</a>
                            </div>
                        </div>
                        {% else %}
                            {% for item in menu %}
                            {% if item['type']=='button' %}
                                <div class="edit-menu">
                                    <div class="menu-item">
                                        <div class="main-container" data-type="button" data-value="">
                                            <div class="input-container">
                                                <input type="text" name="main" class="form-control input-lg main"
                                                     value="{{item['name']}}"  placeholder="一级菜单名称">
                                                <span class="result"></span>
                                            </div>
                                            <div class="op" style="display:none;">
                                                <span class="action black">回复内容 </span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_text_dialog(this);">文本</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_single_dialog(this);">单条图文</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_multi_dialog(this);">多条图文</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_link_dialog(this);">链接</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:add_member_card(this);">会员卡</a></span>
                                            </div>
                                        </div>
                                        {% for sub_item in item['sub_buttons'] %}
                                        <div class="sub-container" data-type="{{sub_item['type']}}" data-value="{{sub_item['value']}}">
                                            <div class="input-container">
                                                <input type="text" name="sub" value="{{sub_item['name']}}" class="form-control input-lg main" placeholder="二级菜单名称">
                                                {% if sub_item['type']=='text' %}
                                                <span class="result">文本 : {{sub_item['value']}}</span>
                                                {% elif sub_item['type']=='single' %}
                                                <span class="result">单条图文 : <a href="/image_article/{{sub_item['value']}}/preview" target="_blank">预览</a></span>
                                                {% elif sub_item['type']=='multi' %}
                                                <span class="result">多条图文 : <a href="/image_article_group/{{sub_item['value']}}/preview" target="_blank">预览</a></span>
                                                {% elif sub_item['type']=='link' %}
                                                <span class="result">链接 : <a href="{{sub_item['value']}}" target="_blank">查看</a></span>
                                                {% elif sub_item['type']=='card' %}
                                                <span class="result">会员卡</span>
                                                {% end %}
                                            </div>
                                            <div class="op">
                                                <span class="action black">回复内容 </span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_text_dialog(this);">文本</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_single_dialog(this);">单条图文</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_multi_dialog(this);">多条图文</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_link_dialog(this);">链接</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:add_member_card(this);">会员卡</a></span>
                                                <span class="action remove"><a href="javascript:;" onclick="javascript:remove_sub_menu(this);">删除</a></span>
                                            </div>
                                        </div>
                                        {% end %}
                                    </div>
                                    <div class="add-sub-click">
                                        <a href="javascript:;" onclick="javascript:add_sub_menu(this);">+添加二级菜单</a>
                                    </div>
                                </div>
                             {% else %}
                             <div class="edit-menu">
                                    <div class="menu-item">
                                        <div class="main-container" data-type="{{item['type']}}" data-value="{{item['value']}}">
                                            <div class="input-container">
                                                <input type="text" name="main" class="form-control input-lg main"
                                                     value="{{item['name']}}"  placeholder="一级菜单名称">
                                                {% if item['type']=='text' %}
                                                <span class="result">文本 : {{item['value']}}</span>
                                                {% elif item['type']=='single' %}
                                                <span class="result">单条图文 : <a href="/image_article/{{item['value']}}/preview" target="_blank">预览</a></span>
                                                {% elif item['type']=='multi' %}
                                                <span class="result">多条图文 : <a href="/image_article_group/{{item['value']}}/preview" target="_blank">预览</a></span>
                                                {% elif item['type']=='link' %}
                                                <span class="result">链接 : <a href="{{item['value']}}" target="_blank">查看</a></span>
                                                {% elif item['type']=='card' %}
                                                <span class="result">会员卡</span>
                                                {% end %}
                                            </div>
                                            <div class="op">
                                                <span class="action black">回复内容 </span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_text_dialog(this);">文本</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_single_dialog(this);">单条图文</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_multi_dialog(this);">多条图文</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:show_input_link_dialog(this);">链接</a></span>
                                                <span class="action"><a href="javascript:;" onclick="javascript:add_member_card(this);">会员卡</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-sub-click">
                                        <a href="javascript:;" onclick="javascript:add_sub_menu(this);">+添加二级菜单</a>
                                    </div>
                                </div>
                             {% end %}
                            {% end %}
                        {% end %}
                    </div>
                    <div id="menu-save-btn" class="btn btn-primary submit-btn">
                        <span>保 存</span>
                    </div>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{static_url('js/global.js')}}"></script>
<script src="{{static_url('js/menu.js')}}"></script>
</body>
</html>