<!DOCTYPE html>
<html>
<head>
    <title>自定义菜单 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <div class="new-edit menu">
                    <div class="no-menu" style="display: none;">
                        <div class="title">还没有设置菜单~</div>
                        <div class="link"><a href="javascript:;">+添加一级菜单</a></div>
                    </div>
                    <div class="add-main">
                        <a href="javascript:;">+添加一级菜单</a>
                    </div>
                    <div class="edit-menu">
                        <div class="menu-item">
                            <div class="main-container" data-type="" data-value="">
                                <div class="input-container">
                                    <input type="text" name="main" class="form-control input-lg main"
                                           placeholder="一级菜单名称">
                                </div>
                                <div class="op">
                                    <span class="action black">回复内容 </span>
                                    <span class="action"><a href="javascript:;">文本</a></span>
                                    <span class="action"><a href="javascript:;">单条图文</a></span>
                                    <span class="action"><a href="javascript:;">多条图文</a></span>
                                    <span class="action"><a href="javascript:;">链接</a></span>
                                    <span class="action remove"><a href="javascript:;">删除</a></span>
                                </div>
                            </div>
                            <div class="sub-container" data-type="" data-value="">
                                <div class="input-container">
                                    <input type="text" name="main" class="form-control input-lg main"
                                           placeholder="一级菜单名称">
                                </div>
                                <div class="op">
                                    <span class="action black">回复内容 </span>
                                    <span class="action"><a href="javascript:;">文本</a></span>
                                    <span class="action"><a href="javascript:;">单条图文</a></span>
                                    <span class="action"><a href="javascript:;">多条图文</a></span>
                                    <span class="action"><a href="javascript:;">链接</a></span>
                                    <span class="action remove"><a href="javascript:;">删除</a></span>
                                </div>
                            </div>
                            <div class="sub-container" data-type="" data-value="">
                                <div class="input-container">
                                    <input type="text" name="main" class="form-control input-lg main"
                                           placeholder="一级菜单名称">
                                </div>
                                <div class="op">
                                    <span class="action black">回复内容 </span>
                                    <span class="action"><a href="javascript:;">文本</a></span>
                                    <span class="action"><a href="javascript:;">单条图文</a></span>
                                    <span class="action"><a href="javascript:;">多条图文</a></span>
                                    <span class="action"><a href="javascript:;">链接</a></span>
                                    <span class="action remove"><a href="javascript:;">删除</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="add-sub-click">
                            <a href="javascript:;">+添加二级菜单</a>
                        </div>
                    </div>
                    <div id="menu-save-btn" class="btn btn-primary submit-btn">
                        <span>保 存</span>
                    </div>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
</body>
</html>