<!DOCTYPE html>
<html>
<head>
    <title>二级页面 - {{account.wei_name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css" media="all">
</head>
<body>
{% include nav.html %}
<div class="container">
    <div class="content">
        <div class="main">
            <div class="main-inner">
                <input type="hidden" name="aid" value="{{account.aid}}"/>
                {% include ./site_top.html %}
                <ul class="nav nav-pills">
                    <li><a href="/account/{{account.aid}}/site/sub">+新建二级页面</a></li>
                    <li class="disabled"><a href="/account/{{account.aid}}/site/sub/list">所有二级页面</a></li>
                </ul>
                <div class="panel panel-default">
                    <table class="table image-article">
                        <thead>
                        <tr>
                            <th>标题</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in templates %}
                        <tr>
                            <td class="title"><a href="/article/template/{{t.slug}}" target="_blank">{{t.title}}</a></td>
                            <td class="date">{{t.date}}</td>
                        </tr>
                        {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include left_nav.html %}
    </div>
</div>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{static_url('js/global.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/material.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.ui.widget.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.iframe-transport.js')}}"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/blueimp-file-upload/9.5.2/jquery.fileupload.min.js"></script>
<script type="text/javascript" src="{{static_url('js/load-image.min.js')}}"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/blueimp-file-upload/9.5.2/jquery.fileupload-process.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/blueimp-file-upload/9.5.2/jquery.fileupload-image.min.js"></script>
<script>

</script>
</body>
</html>