<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{article.title}}</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}" media="all">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}" media="all">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/front/front.css')}}" media="all">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css" media="all">
</head>
<body onselectstart="return true;" ondragstart="return false;">
<div class="container">
    <div class="title">{{article.title}}</div>
    <div id="page-content" class="page-content">
        <div class="text">
            {% raw article.content %}
        </div>
    </div>
</div>
<script type="text/javascript">
            function afterShare(msg) {
                var openid = '{{i}}';
                var slug = '{{article.slug}}';
                var aid = '{{article.aid}}';
                var share_tj = document.createElement('script');
                share_tj.type = 'text/javascript';
                share_tj.async = true;
                share_tj.src = '/share?openid=' + openid + '&slug=' + slug + '&msg=' + msg + '&aid=' + aid;
                var stj = document.getElementsByTagName('link')[0];
                stj.parentNode.insertBefore(share_tj, stj);
            }

            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    WeixinJSBridge.invoke('shareTimeline', {
                        "img_url": "",
                        "img_width": "160",
                        "img_height": "160",
                        "link": window.location.href,
                        "desc":  "",
                        "title": "{{article.title}}"
                    }, function (res) {
                        afterShare(res.err_msg);
                        _report('timeline', res.err_msg);

                    });
                });
            }, false)
        </script>
</body>
</html>