/*index css in weishi project by shenguan*/
body{
    background-color: #f5f6f7;
}

.index-top-nav{
    width: 960px;
    margin: 30px auto 0;
    height: 30px;
    line-height: 30px;
}

.top-left-logo{
    float: left;
    display: block;
    width: 210px;
    height: 30px;
    background: url(../img/login/logo.png) 0 0 no-repeat;
    text-indent: -99999px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.top-left-logo:hover{
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.top-left-logo:active{
    margin-top: 1px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.wx-account-container{
    width: 960px;
    min-height: 600px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
    background-color: #ffffff;
    margin: 30px auto 60px;
    padding-bottom: 60px;
}

.wx-account-container .head{
    height: 80px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}

.wx-account-container .head h1{
    margin: 0;
    line-height: 80px;
    text-align: center;
}

.wx-account-container .head .btn-default{
    position: absolute;
    top: 18px;
    left: 18px;
}

.wx-account-container .alert{
    width: 380px;
    margin: -1px auto 0;
    text-align: center;
}

#addAccountBtn{
    position: absolute;
    width: 70px;
    height: 45px;
    top: 18px;
    right: 18px;
}

.wx-account{
    float: left;
    width: 240px;
    height: 250px;
    margin: 60px 0 0 60px;
    text-align: center;
    color: #666666;
}

.wx-account:hover{
    text-decoration: none;
}

.wx-account .add{
    opacity: 1;
    filter: alpha(opacity=100);
    padding-top: 200px;
    background: url(../img/new-account.png) center center no-repeat;
}

.wx-account:hover .add{
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.wx-account:active .add{
    opacity: 1;
    filter: alpha(opacity=100);
}

.wx-account img{
    width: 200px;
    height: 200px;
    border: 5px solid #ffffff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}

.wx-account p{
    padding-top: 20px;
    margin: 0;
}

.add-account{
    width: 380px;
    margin: 40px auto 0;
}

.add-account .form-group{
    margin-bottom: 25px;
}

.avatar-group .df-avatar{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.avatar-group input[type="file"] {
    display: inline-block;
    width: 260px;
    margin-left: 10px;
}

.error-words{
    display: none;
}

.has-error .error-words{
    display: block;
}

.control-label b{
    color: red;
}