/*login css in weishi project by shenguan*/
html, body {
    height: 100%;
}

.aside-bar {
    float: left;
    width: 40%;
    height: 100%;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-image: url(http://dl.bizhi.sogou.com/images/2013/11/29/424957.jpg);
}

.login-content {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
    padding: 120px 70px 0;
}

.login-logo{
    width: 210px;
    height: 30px;
    margin-bottom: 30px;
    background: url(../img/login/logo.png) 0 0 no-repeat;
    text-indent: -99999px;
}

.form-group{
    margin-bottom: 30px;
}

.form-group span{
    line-height: 46px;
    color: #999;
}

.form-group.checking span{
    padding-left: 25px;
    background: url(../img/login/input-checking.gif) 0 center no-repeat;
}

.form-group.has-success span{
    color: #3c763d;
}

.form-group.has-error span{
    color: #a94442;
}

.form-control{
    float: left;
    width: 300px;
    height: 50px;
    padding: 15px 12px;
    margin-right: 20px;
}

.btn{
    padding: 10px 15px;
}

#loginBtn{
    width: 60px;
    height: 42px;
}

#signupBtn{
    width: 88px;
    height: 42px;
}

.btn .loading{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/login/btn-loading.gif) center center no-repeat;
}

.signup-link{
    color: #aaa;
    margin-left: 20px;
    font-size: 14px;
}

.login-error-words{
    color: #a94442;
    margin-left: 20px;
}
