<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="刮刮卡">
    <title>刮刮卡</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/event/activity.css')}}" media="all">
</head>
<body data-role="page" class="activity-scratch-card-winning">
<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="{{static_url('js/wScratchPad.js')}}"></script>
<div class="main">
    <div class="cover">
        <img src="{{static_url('img/event/activity-scratch-card-bannerbg.png')}}">
        <div id="prize"></div>
        <div id="scratchpad"></div>
    </div>
    <div class="content">
        {% if hit %}
        <div id="zjl" style="display: none" class="boxcontent boxwhite">
            <div class="box">
                <div class="title-red"><span>恭喜你中奖了</span></div>
                <div class="Detail">
                    <p>你中了：<span class="red">{{hit_prize}}</span></p>
                    <p>兑奖SN码：<span class="red" id="sn">{{sn}}</span></p>
                    <p class="red">请在下方提交你的手机号，方便我们联系你兑奖!</p>
                    <p class="red">输入手机号：<input id="tel" type="tel" maxlength="20" /><button id="save-btn">提交</button></p>
                </div>
            </div>
        </div>
        {% end %}
        <div class="boxcontent boxwhite">
            <div class="box">
                <div class="title-red"><span>奖项设置：</span></div>
                <div class="Detail">
                    <p>一等奖： {{scratch.prize_1}}</p>
                    <p>二等奖： {{scratch.prize_2}}</p>
                    <p>三等奖： {{scratch.prize_3}}</p>
                </div>
            </div>
        </div>
        <div class="boxcontent boxwhite">
            <div class="box">
                <div class="title-red">活动说明：</div>
                <div class="Detail">
                    <p class="red">本次活动总共可以刮{{scratch.times}}次,你已经刮了{{num}}次,机会如果没用完重新进入本页面可以再刮! 如果已中奖，则不可再刮！</p>
                    <p>{{scratch.description}} </p>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<script type="text/javascript">
    var zjl = {{hit}};
    var num = 0;
    var goon = true;
    $(function () {
        var useragent = window.navigator.userAgent.toLowerCase();
        $("#scratchpad").wScratchPad({
            width: 150,
            height: 40,
            color: "#a9a9a7",
            scratchMove: function () {
                num++;
                if (!zjl && num == 2) {
                    document.getElementById('prize').innerHTML = "谢谢参与";
                }
                if (zjl && num > 5 && goon) {
                    document.getElementById('prize').innerHTML = "{{hit_prize}}";
                    goon = false;
                    $("#zjl").slideToggle(500);
                }
                if (useragent.indexOf("android 4") > 0) {
                    if ($("#scratchpad").css("color").indexOf("51") > 0) {
                        $("#scratchpad").css("color", "rgb(50,50,50)");
                    } else if ($("#scratchpad").css("color").indexOf("50") > 0) {
                        $("#scratchpad").css("color", "rgb(51,51,51)");
                    }
                }

            }
        });
    });

    $("#save-btn").bind("click", function () {
        var tel = $("#tel").val();
        if (tel == '') {
            alert("请输入手机号");
            return
        }
        var submitData = {phone:tel,openid: '{{openid}}', id:'{{id}}', sn:'{{sn}}'};
        $.post(window.location.href, submitData,
            function (data) {
                if (data.r == true) {
                    alert('提交成功');
                    return
                }
            }, "json")
    });
</script>

</body>
</html>