<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <title>全部菜品</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/menu/canyin.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/menu/dialog.css')}}">
    <script src="{{static_url('js/menu/common.js')}}"></script>
    <script src="{{static_url('js/menu/dialog.js')}}"></script>
    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<body id="page_allMenu" screen_capture_injected="true">
<script type="text/javascript">
</script>
<div class="center">
    <nav id="navBar">
        <dl>
            {% for _i, _c in enumerate(cates) %}
            <dd categoryid="{{_c.id}}"{% if _i==0 %} class="active"{%else%} class="null"{% end %}>{{_c.name}}<span></span></dd>
            {% end %}
        </dl>
    </nav>
    <section id="infoSection">
        <article>
            <div id="pInfo">
                {% for _d in dish %}
                <dl dunitname="{{_d.unit}}" dsubcount="{{_d.num}}" dishid="{{_d.id}}" dname="{{_d.name}}" dtaste="" ddescribe="{{_d.description}}"
                    dprice="{{_d.price}}" dishot="{{_d.hot}}" dspecialprice="{{_d.special}}" disspecial="{{_d.special}}">
                    <dt><h3>{{_d.name}}</h3></dt>
                    <dd>
                        <a href="javascript:void(0)" class="dataIn"><img src="{{_d.img}}" alt="" title=""><span></span></a></dd><dd><em>{{_d.price}}/{{_d.unit}}</em>
                    </dd>
                    <dd class="dpNum">{{_d.num}}人点过</dd>
                    <dd class="btn"><button class="minus" style="display: none;"><strong></strong></button><i style="display: none;">{% if nums[_d.id] %}{{nums[_d.id]}}{% end %}</i><button class="add"><strong></strong></button><em class="fixBig fake"></em></dd></dl>
                {% end %}
           </div>
        </article>
    </section>
    <footer class="footFix footLeft">
        <button class="btn_change" onclick="location.href='/module/canyin/{{aid}}/dish/my?i={{i}}'">我的菜单</button>
    </footer>
</div>
<script>
    window.shareData = {"appid": "wx578dbd8b9c6f29f6", "imgUrl": "http:\/\/imgcache.life.qq.com\/www\/misc\/images\/weixin_shop_logo\/3676816631_share_150_150.png", "timeLineLink": "http:\/\/life.qq.com\/qr\/t13623777902026#wechat_redirect", "tTitle": "\u5173\u6ce8\u53ef\u83b7\u5f97\u300c\u6d1e\u5ead\u571f\u83dc\u9986\u300d\u5fae\u751f\u6d3b\u4f1a\u5458\u5361", "tContent": "\u6d1e\u5ead\u571f\u83dc\u9986", "sendFriendLink": "http:\/\/life.qq.com\/qr\/f13623777902026#wechat_redirect", "fTitle": "\u6d1e\u5ead\u571f\u83dc\u9986", "fContent": "\u5173\u6ce8\u53ef\u83b7\u5f97\u300c\u6d1e\u5ead\u571f\u83dc\u9986\u300d\u5fae\u751f\u6d3b\u4f1a\u5458\u5361", "wContent": "#\u5fae\u4fe1\u626b\u63cf\u4e8c\u7ef4\u7801#\u6211\u521a\u5728\u6d1e\u5ead\u571f\u83dc\u9986\u626b\u63cf\u4e8c\u7ef4\u7801\uff0c\u8f7b\u677e\u83b7\u5f97\u5fae\u751f\u6d3b\u4f1a\u5458\u5361\uff0c\u5f97\u52303676816631\uff0c\u9177\u70ab\u53c8\u597d\u73a9\uff01", "wLink": null};
    var ticket = '0043e0188a312dea3996f1455f5f6d40';
    var pageName = pageName ? pageName : '';
    // 分享
    function shareFriend(appid, imgUrl, sendFriendLink, fContent, fTitle) {
        WeixinJSBridge.invoke('sendAppMessage', {
            "appid": appid,
            "img_url": imgUrl,
            "img_width": "640",
            "img_height": "640",
            "link": sendFriendLink,
            "desc": fContent,
            "title": fTitle
        }, function (res) {
            _report('send_msg', res.err_msg);
        })
    }
    function shareTimeline(imgUrl, timeLineLink, tContent, tTitle) {
        WeixinJSBridge.invoke('shareTimeline', {
            "img_url": imgUrl,
            "img_width": "640",
            "img_height": "640",
            "link": timeLineLink,
            "desc": tContent,
            "title": tTitle
        }, function (res) {
            _report('timeline', res.err_msg);
        });
    }
    function shareWeibo(wContent, wLink) {
        WeixinJSBridge.invoke('shareWeibo', {
            "content": wContent,
            "url": wLink,
        }, function (res) {
            _report('weibo', res.err_msg);
        });
    }
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

        // 发送给好友
        WeixinJSBridge.on('menu:share:appmessage', function (argv) {
            if (pageName == 'menuFilled') {

                var params = {
                    'qrcode': qrcode,
                    'ticket': ticket,
                    'ticketSource': ticketSource
                };

                MLoading.show('加载中');
                setTimeout(function () {
                    MLoading.hide();
                }, 3000);
                _doAjax('/weixin/dish/share', 'POST', params, function (ret) {
                    MLoading.hide();
                    if (ret['code'] != 0) {
                        alert(ret['message']);
                        return;
                    }
                    var result = ret['result']['data'];

                    shareFriend(result.appid, result.img_url, result.link, result.desc, result.title);
                });

            } else {
                shareFriend(window.shareData.appid, window.shareData.imgUrl, window.shareData.sendFriendLink, window.shareData.fContent, window.shareData.fTitle);
            }
        });

        // 分享到朋友圈
        WeixinJSBridge.on('menu:share:timeline', function (argv) {
            if (pageName == 'menuFilled') {

                var params = {
                    'qrcode': qrcode,
                    'ticket': ticket,
                    'ticketSource': ticketSource
                };

                MLoading.show('加载中');
                setTimeout(function () {
                    MLoading.hide();
                }, 3000);
                _doAjax('/weixin/dish/share', 'POST', params, function (ret) {
                    MLoading.hide();
                    if (ret['code'] != 0) {
                        alert(ret['message']);
                        return;
                    }
                    var result = ret['result']['data'];

                    shareTimeline(result.img_url, result.link, result.desc, result.title);
                });

            } else {

                shareTimeline(window.shareData.imgUrl, window.shareData.timeLineLink, window.shareData.tContent, window.shareData.tTitle);
            }
        });

        // 分享到微博
        WeixinJSBridge.on('menu:share:weibo', function (argv) {
            if (pageName == 'menuFilled') {

                var params = {
                    'qrcode': qrcode,
                    'ticket': ticket,
                    'ticketSource': ticketSource
                };

                MLoading.show('加载中');
                setTimeout(function () {
                    MLoading.hide();
                }, 3000);
                _doAjax('/weixin/dish/share', 'POST', params, function (ret) {
                    MLoading.hide();
                    if (ret['code'] != 0) {
                        alert(ret['message']);
                        return;
                    }
                    var result = ret['result']['data'];

                    shareWeibo(result.title, result.link);
                });

            } else {

                shareWeibo(window.shareData.wContent, window.shareData.wLink);
            }
        });
    }, false)
</script>
<script type="text/javascript">
var aid = '{{aid}}';
function setHeight() {
    var cHeight;
    cHeight = document.documentElement.clientHeight;
    cHeight = cHeight + "px"
    document.getElementById("navBar").style.height = cHeight;
    document.getElementById("infoSection").style.height = cHeight;
}

//ajax处理
//配合_doAjax方法使用
function doSelect() {
    var dds = _qAll('#navBar dd');
    var aa = 0, bb;
    var article = _q("#infoSection article");
    _forEach(dds, function (ele, idx, dds) {
        dds[idx].onclick = function () {
            _q('.active').className = null;
            this.className = "active";
            var div = document.getElementById("pInfo");
            div.innerHTML = '';
            var params = {aid: aid, cate: this.getAttribute('categoryId'),'i': '{{i}}'};
            _doAjax('/module/canyin/{{aid}}/dish', 'POST', params, function (ret) {
                var dishList = ret['results'];
                var categoryId = ret['cate'];

                var str = '';
                var rnd = Math.random();
                for (key in dishList) {
                    var dish = dishList[key];

                    if (dish.special == 1) {
                        var priceHtml = "<em class='sale'><b>特价</b>" + dish['special_price'] + "元/" + dish['unit']
                                + "<br/><del>" + dish['price'] + "元/" + dish['unit'] + "</del></em>";
                    }  else {
                        var priceHtml = "<em>" + dish['price'] + "元/" + dish['unit'] + "</em>";
                    }

                    if (dish.hot == 1) {
                        var hotHtml = '<span></span>';
                    } else {
                        var hotHtml = '';
                    }
                    if (dish['num']) {
                        var dSubCountHtml = dish['num'] + '人点过';
                    } else {
                        var dSubCountHtml = '';
                    }
                    var attrList = " dUnitName='" + dish['unit'] + "' dSubCount='" + dish['num'] + "' dishid='"
                            + dish['id'] + "' dName='" + dish['name'] + "' dDescribe='" + dish['description']
                            + "' dPrice='" + dish['price'] + "' dIsHot='" + dish['hot'] + "' dSpecialPrice='"
                            + dish['special_price'] + "' dIsSpecial='" + dish['special'] + "' ";
                    str += "<dl" + attrList + "'><dt><h3>" + dish['name'] + "</h3></dt><dd><a href='javascript:void(0)' class='dataIn'><img src='"
                            + dish['img'] + "?rnd=" + rnd + "' alt='' title='' />" + hotHtml + "</a></dd><dd>" + priceHtml + "</dd><dd class='dpNum'>"
                            + dSubCountHtml + "</dd><dd class='btn'><button class='minus'><strong></strong></button><i>" +
                            + dish['o2u_num'] +"</i><button class='add'><strong></strong></button><em class='fixBig fake'></em></dd></dl>";
                }

                if (_q('.active').getAttribute('categoryId') == categoryId) {
                    div.innerHTML = str;
                    _q('#infoSection').scrollTop = 0;
                    doSelectBtn();
                    showPicInfo();
                }
            });
        }
    });
}


//选择菜品按钮样式
function doSelectBtn() {
    var btn = _qAll("article dl .btn");
    var btnIndex = 0, btnLength = btn.length;

    // countDish();
    for (btnIndex; btnIndex < btnLength; btnIndex++) {

        var countNumText = parseInt(btn[btnIndex].children[1].innerHTML),
                btnAdd = btn[btnIndex].children[2],
                btnMin = btn[btnIndex].children[0];

        btnShowHide(countNumText, btn[btnIndex], false);

        var iTimeout, iInterval, originalNum,
                beforeRemoveDish = false,
                beforeAddDish = false,
                needRemoveNotify = false; //是否需要删除提醒

        btnAdd.addEventListener(_movestartEvt, function () {

            var _self = this;
            originalNum = parseInt(_self.parentNode.children[1].innerHTML, 10);
            countNumText = originalNum + 1;
            var shopInfo = _self.parentNode.parentNode.getAttribute('shopInfo');

            if (countNumText == 1) {
                if (shopInfo) {
                    _self.parentNode.children[1].innerHTML = 0;
                    beforeAddDish = true;
                    return;
                } else {
                    _self.parentNode.children[1].innerHTML = 1;
                    btnShowHide(1, _self.parentNode);
                }
            } else {
                _self.parentNode.children[1].innerHTML = countNumText;
                btnShowHide(countNumText, _self.parentNode);
                iTimeout = setTimeout(function () {
                    // console.log(_self);
                    iInterval = setInterval(function () {
                        countNumText++;
                        _self.parentNode.children[1].innerHTML = countNumText;

                        // 变化打数字
                        _removeClass(_self.parentNode.children[3], 'fake');
                        _self.parentNode.children[3].innerHTML = countNumText
                    }, 100)
                }, 1000)
            }
        })

        btnAdd.addEventListener(_moveendEvt, function () {
            clearTimeout(iTimeout);
            clearInterval(iInterval);
            hideBigFont();

            var _self = this;
            var countNumText = parseInt(_self.parentNode.children[1].innerHTML, 10);
            var dishid = _self.parentNode.parentNode.getAttribute('dishid');
            var shopInfo = _self.parentNode.parentNode.getAttribute('shopInfo');

            if (beforeAddDish) {

                setTimeout(function () {
                    MDialog.confirm(
                            '', shopInfo, null,
                            '确定', function () {

                                _self.parentNode.children[1].innerHTML = 1;
                                btnShowHide(1, _self.parentNode);
                                ajaxDishReset(dishid, 1, function () {
                                }, function () {

                                    _self.parentNode.children[1].innerHTML = originalNum;
                                    btnShowHide(originalNum, _self.parentNode);
                                });

                            }, null,
                            '取消', function () {
                            }, null,
                            null, true, true
                    );
                }, 500);

                beforeAddDish = false;
            } else {
                ajaxDishReset(dishid, countNumText, function () {
                }, function () {

                    _self.parentNode.children[1].innerHTML = originalNum;
                    btnShowHide(originalNum, _self.parentNode);
                });
            }

        })

        btnMin.addEventListener(_movestartEvt, function () {

            var _self = this;
            originalNum = parseInt(_self.parentNode.children[1].innerHTML, 10);
            countNumText = originalNum - 1;


            if (countNumText <= 0) {
                _self.parentNode.children[1].innerHTML = 1;
                beforeRemoveDish = true;
                return;
            } else {
                _self.parentNode.children[1].innerHTML = countNumText;
                iTimeout = setTimeout(function () {

                    iInterval = setInterval(function () {
                        countNumText--;
                        if (countNumText <= 0) {
                            clearInterval(iInterval);
                            _self.parentNode.children[1].innerHTML = 1;
                            beforeRemoveDish = true;
                            return;
                        } else {
                            _self.parentNode.children[1].innerHTML = countNumText;
                            btnShowHide(countNumText, _self.parentNode);
                        }

                        // 字体放大显示
                        _removeClass(_self.parentNode.children[3], 'fake');
                        _self.parentNode.children[3].innerHTML = countNumText
                    }, 100)
                }, 1000)
            }
        })

        btnMin.addEventListener(_moveendEvt, function () {
            clearTimeout(iTimeout);
            clearInterval(iInterval);
            hideBigFont();

            var _self = this;
            var countNumText = parseInt(_self.parentNode.children[1].innerHTML, 10);
            var dishid = _self.parentNode.parentNode.getAttribute('dishid');
            var dName = _self.parentNode.parentNode.getAttribute('dName');

            if (beforeRemoveDish) {
                if (needRemoveNotify) {
                    setTimeout(function () {
                        MDialog.confirm(
                                '', '是否删除' + dName + '？', null,
                                '确定', function () {

                                    _self.parentNode.children[1].innerHTML = 0;
                                    btnShowHide(0, _self.parentNode);
                                    ajaxDishRemove(dishid, function () {
                                    }, function () {

                                        _self.parentNode.children[1].innerHTML = originalNum;
                                        btnShowHide(originalNum, _self.parentNode);
                                    });
                                }, null,
                                '取消', function () {
                                    _self.parentNode.children[1].innerHTML = originalNum;
                                    btnShowHide(originalNum, _self.parentNode);
                                }, null,
                                null, true, true
                        );
                    }, 500);
                    beforeRemoveDish = false;
                } else {
                    _self.parentNode.children[1].innerHTML = 0;
                    btnShowHide(0, _self.parentNode);
                    ajaxDishRemove(dishid, function () {
                    }, function () {

                        _self.parentNode.children[1].innerHTML = originalNum;
                        btnShowHide(originalNum, _self.parentNode);
                    });
                    beforeRemoveDish = false;
                }
            } else {
                ajaxDishRemove(dishid, countNumText, function () {
                }, function () {

                    _self.parentNode.children[1].innerHTML = originalNum;
                    btnShowHide(originalNum, _self.parentNode);
                });

            }
        }) // btnMin.addEventListener
    } // for

    function ajaxDishReset(dishid, o2uNum, successCallback, errorCallback) {

        var params = {action: 'add',dish_id: dishid, i: '{{i}}'};
        _doAjax('/module/canyin/{{aid}}/dish/update', 'POST', params, function (ret) {
            successCallback();
        });
    }

    function ajaxDishRemove(dishid, successCallback, errorCallback) {
        var params = {action: 'remove',dish_id: dishid, i: '{{i}}'};
        _doAjax('/module/canyin/{{aid}}/dish/update', 'POST', params, function (ret) {
            successCallback();
        });
    } // ajaxDishRemove
} // doSelectBtn

function hideBigFont() {
    var _arr = _qAll(".fixBig");
    _forEach(_arr, function (ele, idx, _arr) {
        _addClass(ele, 'fake');
    })
}

function btnShowHide(num, btns, isCountDish) {

    if (isCountDish !== false) {
        countDish();
    }

    if (num <= 0) {
        btns.children[0].style.display = "none";
        btns.children[1].style.display = "none";
    } else {
        btns.children[0].style.display = "inline-block";
        btns.children[1].style.display = "inline-block";
    }
    ;
}

function countDish() {

    var countTotle = 0, countdish;
    var dishNum = _qAll("#page_allMenu section article dl .btn i");
    _forEach(dishNum, function (ele, idx, dishNum) {
        countdish = parseInt(ele.innerHTML);
        if (countdish > 0) {
            countTotle++;
        }
    });

    if (countTotle != 0) {
        _q("#page_allMenu nav dl dd.active span").innerHTML = countTotle;
        _q("#page_allMenu nav dl dd.active span").style.display = 'block';
    } else {
        _q("#page_allMenu nav dl dd.active span").style.display = 'none';
    }
}

//点击促发弹层事件
function showPicInfo() {
    var links = _qAll(".dataIn"), i = 0;
    for (i; i < links.length; i++) {
        links[i].onclick = function (event) {

            event.stopPropagation();

            // dl
            var parentDl = this.parentNode.parentNode;

            var childImg = this.childNodes[0]
            if (childImg.nodeType == 3) {
                childImg = this.childNodes[1];
            }

            popPic(childImg.src,
                    parentDl.getAttribute('dname'),
                            parentDl.getAttribute('dprice') + '元/' + parentDl.getAttribute('dunitName'),
                    parentDl.getAttribute('dIsSpecial'),
                            parentDl.getAttribute('dSpecialPrice') + '元/' + parentDl.getAttribute('dunitName'),
                    parentDl.getAttribute('dsubCount'),
                    parentDl.getAttribute('dtaste'),
                    parentDl.getAttribute('ddescribe'),
                    parentDl.getAttribute('dishot')
            );
        }
    }
}
//后台可自行扩展参数
//调用自定义弹层
function popPic(imgUrl, title, price, isSpecial, specialPrice, people, teast, assess, isHot) {
    var _title = title,
            _price = price,
            _people = people,
            _teast = teast,
            _assess = assess;

    var hotHtml = '';
    if (isHot == 1) {
        hotHtml = '<b></b>';
    }
    _tmpHtml = "<div class='content'>" + hotHtml + "<img src='" + imgUrl + "' alt='' title=''><h2>" + _title;

    if (isSpecial == 1) {
        _tmpHtml += "<i>" + specialPrice + "</i><del>" + _price + "</del>";
    } else {
        _tmpHtml += "<i>" + _price + "</i>";
    }

    if (_people) {
        _tmpHtml += "<span>" + _people + "人点过</span>";
    }
    _tmpHtml += "</h2>";

    if (_teast) {
        _tmpHtml += "<h3>口味：" + _teast + "</h3>";
    }

    if (_assess) {
        _tmpHtml += "<p>" + _assess + "</p>";
    }

    _tmpHtml += '</div>';
    MDialog.popupCustom(_tmpHtml, true, function () {
    }, true);
}

// 获取各个分类被选中菜品的数量
function getDishNumOfCategory() {
    var params = {'i': '{{i}}'};
    _doAjax('/module/canyin/{{aid}}/cate_num', 'POST', params, function (ret) {
        for(var i in ret['result']['data']) {
            var val = ret['result']['data'][i];
            if (val > 0) {
                $('dd[categoryid="'+ i +'"] span').html(val);
                $('dd[categoryid="'+ i +'"] span').css('display','block');
            } else {
                $('dd[categoryid="'+ i +'"] span').css('display','none');
            }
        }
    });
}

_onPageLoaded(function () {
    setHeight();
    doSelect();
    doSelectBtn();
    showPicInfo();

    if (_isIOS) {
        $("#page_allMenu section article").css("overflowY", "scroll");
        $("#page_allMenu section article").css("minHeight", "85%");
        $("#page_allMenu section article").css("marginBottom", "15px");
    }
    getDishNumOfCategory();
})
window.addEventListener('orientationchange', function () {
    setHeight();
})
</script>
</body>
</html>