<!DOCTYPE html>
<html lang="zh-CN" slick-uniqueid="3">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<title>好友的菜单</title>
<link rel="stylesheet" type="text/css" href="{{static_url('css/menu/canyin.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('css/menu/dialog.css')}}">
<script src="{{static_url('js/menu/common.js')}}"></script>
<script src="{{static_url('js/menu/dialog.js')}}"></script>
<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<body id="page_intelOrder" screen_capture_injected="true">
<div class="center page_friend">
<header>
    <span class="pList">{{account.wei_name}}</span>
    <label><i>共计：</i><b class="duiqi">{{total}}元</b></label>
</header>
<section>
<article class="listsoffriend">
    {% for _m in my_list %}
    <dl>
        <dt><h3>{{dish[_m.dish_id].name}}</h3></dt>
        <dd><img src="{{dish[_m.dish_id].img}}" alt="" title=""></dd>
        <dd><em>{% if dish[_m.dish_id].special %}{{dish[_m.dish_id].special_price}}{% else %}{{dish[_m.dish_id].price}}{% end %}元/{{dish[_m.dish_id].unit}}</em></dd>
        <dd class="dpNum">{{dish[_m.dish_id].num}}人点过</dd>
        <dd class="dpFen">×{{_m.num}}</dd>
    </dl>
    {% end %}
</article>
</section>
</div>
</body>
</html>