<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript">
        if (window.parent.frames[0]) {
            window.parent.location.href = location.href;
        }
    </script>
    <title>微世 | 微世,微信智能服务平台,企业微信营销首选</title>
    <link rel="icon" href="{{static_url('img/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{static_url('css/default.css')}}" media="screen">
    <meta name="description"
          content="微世平台是企业微信管理和营销工具,通过微俱聚平台,用户可以轻松管理自己的微信各类信息,对微信公众账号进行维护、开展智能机器人、微信会员卡在线发优惠劵等活动,对微信营销实现有效监控,极大扩展潜在客户群和实现企业的运营目标。">
    <meta name="keywords" content="微世,企业微信营销,微信营销案例,微信营销技巧,微信公共平台">
    <script type="text/javascript" src="{{static_url('js/jquery-1.10.2.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/jquery.cookie.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/jquery.tipsy.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/default.js')}}"></script>
    <style>
        .item_6 .banner {
            border: 7px solid #CCC;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        .item_6 .banner img {
            display: block;
            width: 100%;
        }
    </style>
<body>
<div class="wrap">
    <div class="qr">
        <img class="phone" src="http://weishi.u.qiniudn.com/qr.png">
    </div>
    <div class="navwrap">
        <div class="nav nav_1 cur" inx="1" original-title="返回首页"></div>
        <div class="nav nav_2" inx="2" original-title="产品和服务"></div>
        <div class="nav nav_3" inx="3" original-title="功能介绍"></div>
        <div class="nav nav_4" inx="4" original-title="经典案例"></div>
        <div class="nav nav_5" inx="5" original-title="渠道代理"></div>
    </div>
    <div class="main">
        <div class="item item_1">
            <div class="loading">
                <div class="load">&nbsp;</div>
            </div>
            <div class="bgwrap"></div>
            <div class="content" style="display: none;">
                <div class="header index">
                    <div class="phone">
                        <img class="phone" src="http://weishi.u.qiniudn.com/phone.png">
                    </div>
                    <div class="logo">
                        <img class="ws_tm" src="http://weishi.u.qiniudn.com/logo.png">

                        <div class="sub_header">微世界，大力量！<br>微信营销解决方案首选智能平台！</div>
                    </div>
                </div>
                <div class="nav_btn_wrap fn-clear">
                    <a href="javascript:;">WISH产品和服务</a>
                    <a href="javascript:;">WISH功能介绍</a>
                    <a href="javascript:;">WISH经典案例</a>
                    <a href="javascript:;">WISH渠道代理</a>
                </div>
            </div>
        </div>
        <div class="item item_2">
            <div class="content">
                <div class="header"><h1>WISH服务，助力企业微信营销</h1></div>
                <div class="sub_header">你不是一个人在战斗！微世牛逼的技术团队，专业的运营团队与您同行！</div>
                <div class="banner">
                    <img class="lazy" data-original="http://weishi.u.qiniudn.com/menu.jpg">
                </div>
            </div>
        </div>
        <div class="item item_3">
            <div class="content">
                <div class="header"><h1>WISH特色功能，低成高效实现市场营销</h1></div>
                <div class="sub_header">3G官网+互动运营+手机应用+用户数据分析=1键掌握6亿注册用户！</div>
                <div class="banner">
                    <img class="lazy" data-original="http://weishi.u.qiniudn.com/activity.jpg">
                </div>
            </div>
        </div>

        <div class="item item_4">
            <div class="content">
                <div class="header"><h1>三十多个行业已加入，您再不加入就OUT了！</h1></div>
                <div class="sub_header">移动互联网正在改变一切，希望我们携手成为互联网快速发张的受益者！</div>
                <div class="banner">
                    <img class="lazy" data-original="http://weishi.u.qiniudn.com/lbs.jpg">
                </div>
            </div>
        </div>

        <div class="item item_4">
            <div class="content">
                <div class="header"><h1>我们邀请您的加盟不仅仅是因为这是个万亿市场</h1></div>
                <div class="sub_header">梦想面前，人人平等！我们邀请你的加盟不仅仅是为这是个万亿的市场，更多的是我们有共同的梦想</div>
                <div class="banner">
                    <img class="lazy" data-original="http://weishi.u.qiniudn.com/join.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="goto_top"></div>
</body>
</html>