<!DOCTYPE html>
<html>
    <head>
        <title>选择公众账号 - 微世</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}">
        <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.adjust.css')}}">
        <link rel="stylesheet" type="text/css" href="{{static_url('css/index.css')}}">
    </head>
    <body>
        <div class="index-top-nav">
            <a href="/" class="top-left-logo">weishi 微世</a>
            <p class="rt">{{ current_user.username }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/logout">退出</a></p>
        </div>
        <div class="wx-account-container">
            <div class="head">
                <h1>选择公众账号</h1>
            </div>
            <div class="wx-accounts clearfix">
                {% if accounts %}
                {% for account in accounts %}
                <a class="wx-account" href="/account/{{ account.aid }}">
                    {% if account.avatar %}
                    <img class="img-circle" src="{{account.avatar}}?imageView/1/w/200/h/200" alt="{{ account.wei_name }}"/>
                    {% else %}
                    <img class="img-circle" src="{{static_url('img/default-logo-200.png')}}" alt="{{ account.wei_name }}"/>
                    {% end %}
                    <p class="ofh">{{ account.wei_name }}</p>
                </a>
                {% end %}
                {% end %}
                <a class="wx-account" href="/accounts">
                    <div class="add">添加微信公众账号</div>
                </a>
            </div>
        </div>
        <script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
        <script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>