<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>提交成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/article.css')}}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.css')}}">
</head>
<body id="activity-detail">
<div class="modal-content" style="text-align: center;">
<span class="glyphicon glyphicon-ok" style="color: #17b385;font-size: 40px;margin: 20px;"></span>
<div style="margin-bottom: 20px; font-size: 16px; color:#777" class="message">提交成功！</div>
</div>
</body>
</html>